
    <section class="Header">

        <section class="HeaderNav">
            <h1 class="Title">Sondages-presidentielle</h1>

            <nav class="Menu">
                <ul>
                    <li><a class="LinkMenu">Comment ça marche</a></li>
                </ul>
            </nav>
        </section>

        <section class="HeaderConnexion">
            {% embed 'security/login.html.twig' %}{% endembed %}
        </section>

    </section>
