
    <section class="Header">

        <section class="HeaderNav">
            <h1 class="Title"><a href="{{ path('main') }}">Sondages-presidentielle</a></h1>

            <nav class="Menu">
                <ul>
                    <li><a class="LinkMenu" href=" {{ path('register') }}">Comment ça marche</a></li>
                </ul>
            </nav>
        </section>

        <section class="HeaderConnexion">
            {% embed 'security/login.html.twig' %}{% endembed %}
        </section>

    </section>
