
    <section class="Header">

        <section class="HeaderNav">
            <h1 class="Title"><a href="{{ path('main') }}">Sondages-presidentielle</a></h1>

            <nav class="Menu">
                <ul>
                    <li><a class="LinkMenu" href=" {{ path('register') }}">Comment ça marche</a></li>
                </ul>
            </nav>
        </section>

        {% if app.user %}

            <section class="HeaderCo">

                <p>Vous n'avez pas encore voté.</p>
                <nav>
                    <ul>
                        <li><a href="#">Compte</a></li>
                        <li><a href="#">Déconnexion</a></li>
                    </ul>
                </nav>

            </section>
        {% else %}
        <section class="HeaderConnexion">
            {% embed 'security/login.html.twig' %}{% endembed %}
        </section>
        {% endif %}

    </section>
