

.BackoMain
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:auto;
    margin-top:5rem;
    align-items: center;
}

.TitleBacko
{
    padding:1rem;
}
.NavBacko, .Nav
{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Nav li
{
    padding:0.5rem;
}

.CandidatOrSandage
{
    display: inline-block;
    color:#B0413E;
    padding:1rem;
}
.CandidatOrSandage:hover
{
    color:#393e46;
}

.ListCandidat, .ListTable
{
    width:100%;
    margin:auto;
}


.ListCandidat
{
    border:1px solid #ccc;
}

.Col, th
{
    width:calc(100% / 7);
    text-align: center;
    border-bottom: 1px solid #ccc;
    vertical-align: middle;
    padding-top:0.5rem;
    padding-bottom: 0.5rem;
}


@media only screen and (min-width: 400px)
{
    .BackoMain
    {
        width:100%;
        font-size: 0.75rem;
    }


}

@media only screen and (min-width: 700px)
{

    .ListCandidat
    {
        width:80%;
    }

}


@media only screen and (min-width: 1150px)
{

    .ListCandidat
    {
        width:70%;
    }

}


@media only screen and (min-width: 1400px)
{

    .ListCandidat
    {
        width:50%;
    }
}


