
.CandidatMain
{
    margin:auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color:#393e46;
    margin-top:5rem;

}

.Presentation
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:1rem;
}

.PoliticIcon
{
    width:60px;
}


.Label
{
    font-weight: bold;
}
.NameCandidat
{
    font-weight: bold;
}
.InfosCandidat
{
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    border:1px solid lightgray;
    padding:10px;
    padding-left:40px;
    margin-top:20px;
    position: relative;
}
.InfosIcon
{
    width:25px;
    position:absolute;
    left:5px;
    top:5px;
}

.Chiffres
{
    padding:1rem;
}

.NbVotes
{
    width:20px;
}

strong
{
    font-weight: bold;
}
@media only screen and (min-width: 300px)
{
    .CandidatMain, .Presentation, .InfosCandidat
    {
        width:100%;
    }
    .CandidatMain
    {
        font-size:0.8rem;
    }

}

@media only screen and (min-width: 430px)
{
    .CandidatMain
    {
        width:90%;
        font-size:1rem;
    }

}


@media only screen and (min-width: 650px)
{
    .CandidatMain
    {
        width:70%;
    }
}

@media only screen and (min-width: 700px)
{
    .CandidatMain
    {
        width:65%;
    }
}

@media only screen and (min-width: 900px)
{
    .CandidatMain
    {
        width:50%;
    }
}

@media only screen and (min-width: 1100px)
{
    .CandidatMain
    {
        width:40%;
    }
}

@media only screen and (min-width: 1400px)
{
    .CandidatMain
    {
        width:35%;
    }
}

@media only screen and (min-width: 1600px)
{
    .CandidatMain
    {
        width:30%;
    }
}

@media only screen and (min-width: 1600px)
{
    .CandidatMain
    {
        width:25%;
    }
}




