
.CandidatMain
{
    margin:auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color:#393e46;
    margin-top:5rem;

}

.Presentation
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:1rem;
}

.Label
{
    font-weight: bold;
}
.NameCandidat
{
    font-weight: bold;
}
.InfosCandidat
{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    border:1px solid #ccc;
    border-radius:20px;
    padding:0.7rem;
    box-shadow: 0 0 10px #ccc;
}
.Chiffres
{
    padding:1rem;
}

@media only screen and (min-width: 300px)
{
    .CandidatMain, .Presentation, .InfosCandidat
    {
        width:100%;
    }
    .CandidatMain
    {
        font-size:0.8rem;
    }

}

@media only screen and (min-width: 430px)
{
    .CandidatMain
    {
        width:90%;
        font-size:1rem;
    }

}


@media only screen and (min-width: 650px)
{
    .CandidatMain
    {
        width:70%;
    }
}

@media only screen and (min-width: 700px)
{
    .CandidatMain
    {
        width:65%;
    }
}

@media only screen and (min-width: 900px)
{
    .CandidatMain
    {
        width:50%;
    }
}

@media only screen and (min-width: 1100px)
{
    .CandidatMain
    {
        width:40%;
    }
}

@media only screen and (min-width: 1400px)
{
    .CandidatMain
    {
        width:35%;
    }
}

@media only screen and (min-width: 1600px)
{
    .CandidatMain
    {
        width:30%;
    }
}

@media only screen and (min-width: 1600px)
{
    .CandidatMain
    {
        width:25%;
    }
}




