

.MainForgotPassword
{
    margin:auto;
    margin-top:5rem;
    display:flex;
    flex-direction: column;
    padding:1rem;
    text-align: center;
}

.MainForgotPassword .Title
{
 padding:1rem;
}
.MainForgotPassword form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.GoEnvoyer
{
    border:none;
    outline: none;
    background-color:#1c1d21;
    color:#cccccc;
    padding:0.5rem;
    cursor:pointer;
}

@media only screen and (min-width: 150px)
{
    .MainForgotPassword, .MainForgotPassword form
    {
        width:100%;
        font-size:0.7rem;
    }
}

@media only screen and (min-width: 300px)
{
    .MainForgotPassword
    {
        font-size:0.9rem;
    }
}

@media only screen and (min-width: 300px)
{
    .MainForgotPassword form
    {
        width:90%;
    }
}

@media only screen and (min-width: 400px)
{
    .MainForgotPassword form
    {
        width:70%;
    }
}

@media only screen and (min-width: 600px)
{
    .MainForgotPassword form
    {
        width:60%;
    }
}


@media only screen and (min-width: 700px)
{
    .MainForgotPassword form
    {
        width:55%;
    }
}

@media only screen and (min-width: 750px)
{
    .MainForgotPassword
    {
        width:80%;
    }
}

@media only screen and (min-width: 900px)
{
    .MainForgotPassword
    {
        width:70%;
    }
}

@media only screen and (min-width: 1100px)
{
    .MainForgotPassword
    {
        width:50%;
    }
}

@media only screen and (min-width: 1500px)
{
    .MainForgotPassword
    {
        width:45%;
    }
}

@media only screen and (min-width: 1600px)
{
    .MainForgotPassword
    {
        width:35%;
    }
}