

form
{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin:auto;
}

.HeaderConnexion .FormGroup
{
    margin:0.5rem;
}


.GoConnexion
{
    display: flex;
    padding:0.5rem;
    outline: none;
    border:none;
    background-color: #393e46;
    color:#eeeeee;
    border-radius:3px;
    cursor: pointer;
}

@media only screen and (min-width: 1000px)
{
    form
    {
        align-items: flex-start;
    }
    .GoConnexion
    {
        margin-top:0.7rem;
    }

}