
.MainHome
{
    width:100%;
    margin:auto;
    display: flex;
    flex-direction: column;
    padding:1rem;
    padding-top:3rem;
}

.HeadMain
{
    text-align: center;
    padding:10px;
    line-height: 1.2rem;
    margin:auto;
    border:1px solid lightgray;
    background-color: rgba(57, 62, 70, 0.2);
}

.CardList
{
    width:100%;
    display: flex;
    margin:auto;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap:wrap;
    padding-top:2rem;
}

.Timeout
{
    text-align: center;
    padding:2rem;
    font-weight: bold;
}
.TicTac
{
    width:40px;
}

@media only screen and (min-width: 150px)
{

    .CardList
    {
        flex-direction: column;
    }
}

@media only screen and (min-width: 450px)
{
    .CardList
    {
        flex-direction: row;
    }
}


@media only screen and (min-width: 600px)
{
    .HeadMain
    {
        width:70%;
    }
}


@media only screen and (min-width: 1000px)
{
    .HeadMain
    {
        width:500px;
    }
}

@media only screen and (min-width: 1100px)
{
    .CardList
    {
        width:70%;
    }
}
