
.InscriptionPresentation
{
    width: 100%;
    height:auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
}

.Inscription, .Presentation
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color:#393e46;
}

.TitleInscription
{
    margin:1rem;
}

.IconSignUp
{
    margin:auto;
}

@media only screen and (min-width: 150px)
{
    .Inscription, .Presentation
    {
        width:100%;
    }
}

@media only screen and (min-width: 1000px)
{

    .Inscription, .Presentation
    {
        width: 50%;
        align-items: center;
        padding:1rem;
    }


    .TitleInscription
    {
        text-align: center;
    }

}

@media only screen and (min-width: 1300px)
{

    .Inscription, .Presentation
    {
        width: 30%;
    }




}



