{% extends 'base.html.twig' %}

{% block title %}sondagepresidentielle.xyz - Inscription{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('CSS/Inscription.css') }}"/>
    <link rel="stylesheet" href="{{ asset('CSS/FormInscription.css') }}"/>
    <link rel="stylesheet" href="{{ asset('CSS/Errors.css') }}"/>

{% endblock %}
{% block body %}

    <main class="InscriptionPresentation">


        <section class="Presentation">
            {% if not app.user %}
                <p>{{ TxtInscription }}</p>
            {% else %}
                <p>Vous avez déjà un compte..</p>
            {% endif %}
        </section>

        {% if not app.user %}

            <section class="Inscription">

             {% embed 'Partials/Error.html.twig' %}{% endembed %}

                <div class="Formulaire">
                    {% embed 'register/FormInscription.html.twig' %}{% endembed %}
                </div>
            </section>

        {% endif %}

    </main>
{% endblock %}
