{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('CSS/Inscription.css') }}"/>
    <link rel="stylesheet" href="{{ asset('CSS/FormInscription.css') }}"/>
    <link rel="stylesheet" href="{{ asset('CSS/Errors.css') }}"/>

{% endblock %}
{% block body %}

    <main class="InscriptionPresentation">

        {% if not app.user %}

            <section class="Inscription">

             {% embed 'Partials/Error.html.twig' %}{% endembed %}

                <div class="Formulaire">
                    <h2 class="TitleInscription">Inscrivez-vous pour pouvoir voter</h2>
                    {% embed 'register/FormInscription.html.twig' %}{% endembed %}
                </div>
            </section>

        {% endif %}

        <section class="Presentation">

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
                    corporis eius facilis nam perspiciatis provident. Asperiores dolor eius ipsa quas quia? A
                    fugit inventore quibusdam reiciendis velit vitae voluptates! Laborum!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
                    corporis eius facilis nam perspiciatis provident. Asperiores dolor eius ipsa quas quia? A
                    fugit inventore quibusdam reiciendis velit vitae voluptates! Laborum!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
                    corporis eius facilis nam perspiciatis provident. Asperiores dolor eius ipsa quas quia? A
                    fugit inventore quibusdam reiciendis velit vitae voluptates! Laborum!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
                    corporis eius facilis nam perspiciatis provident. Asperiores dolor eius ipsa quas quia? A
                    fugit inventore quibusdam reiciendis velit vitae voluptates! Laborum!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
                    corporis eius facilis nam perspiciatis provident. Asperiores dolor eius ipsa quas quia? A
                    fugit inventore quibusdam reiciendis velit vitae voluptates! Laborum!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
                    corporis eius facilis nam perspiciatis provident. Asperiores dolor eius ipsa quas quia? A
                    fugit inventore quibusdam reiciendis velit vitae voluptates! Laborum!</p>
        </section>

    </main>
{% endblock %}
