{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('CSS/Errors.css') }}"/>

{% endblock %}
{% block body %}

    <h2>Oups, il n'y a rien ici..</h2>

{% endblock %}
