{% extends 'base.html.twig' %}

{% block title %}500{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('CSS/Errors.css') }}"/>

{% endblock %}
{% block body %}

    <h2 class="ErrPage">500</h2>
    <p class="Message404">Oops, il n'y a rien ici..</p>

{% endblock %}
