

main
{
    width:100%;
    margin:auto;
    text-align: center;
    color:#393e46;
}

.Title
{
    font-weight: bold;
    padding:1rem;
    background-color:#212121;
}

.Title a
{
    text-decoration: none;
    color:#cccccc;
}
.Message
{
    margin:0.4rem;
}

footer
{
    font-size:0.8rem;
    color:#393e46;
    margin-top:3rem;
}



