
  <table cellspacing="0" cellpadding="2" border="0" width="100%">
      <tr>
          <td width="100" bgcolor="#212121" style="color:white; text-align: center; padding:20px;">
              <a href="sondagepresidentielle.xyz" style="color:white;">sondagepresidentielle.xyz</a></td>
      </tr>
      <tr>
          <td width="200" style="color:lightslategrey;font-weight:bold; font-size:1em; line-height:1.2em; font-family:georgia,'times',serif;">
              Bonjour, Veuillez cliquer sur le lien ci-dessous afin de redéfinir votre mot de passe :
          </td>
      </tr>

      <tr>
          <td>
              <a href="{{ url('ResetPassword', {'Token' : URL}) }}">Cliquez-ici pour changer votre mot de passe</a>
          </td>
      </tr>
  </table>


